<!DOCTYPE html>
<html>
<head>
	<title>add_info</title>
</head>
<body>
	<form method="post" action="/add_info">
		First Name: <input type="text" name="first_name"><br>
		Last Name: <input type="text" name="last_name"><br>
		Profile_name: <input type="text" name="profile_name"><br>
		Email: <input type="email" name="email">
		School: <input type="text" name="school"><br>
		Birthday: <input type="date" name="birthday"><br>
		Interests: <input type="text" name="interests"><br>
		<input type="submit" value="submit">
	</form>
</body>
