<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<a href="/auth/facebook">Facebook Login</a>
	<form method="post" action="/login">
		Email: <input type="email" name="email"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>